/* Outer container for the header */
.header_outer_container {
    position: sticky; 
    top: 0;          
    display: flex;   
    justify-content: center; 
    align-items: center;    
    background-color: transparent; 
    height: 10vh;         
    color: white;         
    transition: all 0.5s ease-in; 
    z-index: 1;  
     background-color:Black;         
  }
  
 
  .nav_black {
    background-color: rgb(20, 20, 20); 
  }
  
  /* Main header container */
  .header_container {
    width: 90%;             
    display: flex;         
    justify-content: space-between; 
    align-items: center;    
  }
  
  /* Left section of the header */
  .header_left ul {
    width: 140%;           
    display: flex;        
    justify-content: space-between;
    align-items: center;   
    list-style: none;      
    cursor: pointer;       
    
  }
  
  /* Right section of the header */
  .header_right ul {
    width: 150%;           
    display: flex;         
    justify-content: space-around; 
    align-items: center; 
    list-style: none;     
    cursor: pointer;      
    /* background-color: lightgreen; */ /* Optional background color */
  }

  /* Resposnsive Design */

  @media (max-width: 768px) {
  .header {
    padding: 20px 4%;
  }
  .header_left ul li:nth-child(n+2) {
    display: none;
  }
  .header img {
    height: 25px;
  }
}
@media (max-width: 500px) {
  .header img {
    height: 20px;
  }
  .header_right {
    gap: 10px;
  }
}